<div class="card mt-4 d-flex flex-row p-3 p-md-5 m-4" style="width: 50rem;">
    <img src="{{ character.image }}" class="card-img-top me-3" alt="{{ character.name }}" style="object-fit: contain;">
    <div class="card-body w-75">
      <h5 class="card-title">{{ character.name }}</h5>
      <ul class="list-group list-group-flush mt-3">
        <li class="list-group-item">Status: {{ character.status | capitalizeFirstLetter }}</li>
        <li class="list-group-item">Species: {{ character.species | capitalizeFirstLetter }}</li>
        <li class="list-group-item">Gender: {{ character.gender | capitalizeFirstLetter }}</li>
        <li class="list-group-item">Origin: {{ character.origin | capitalizeFirstLetter }}</li>
        <li class="list-group-item">Location: {{ character.location| capitalizeFirstLetter  }}</li>
      </ul>
      <a (click)="returnToList()" class="btn btn-warning mt-2 w-100">Return</a>
      <a (click)="updateCharacter()" class="btn btn-primary mt-2 w-100">Update</a>
      <a (click)="deleteCharacter()" class="btn btn-danger mt-2 w-100">Delete</a>
    </div>
</div>
